body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}
header {
    background-color: #1b7bdb;
    color: white;
    padding: 30px;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #F0EAD6;
    font: bold;
    border-radius: 8px; 
}
img {
    width: 150px;
    border-radius: 100%;
    border-width: 100pt;
    border-color: black;
    margin: 10px 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    background: #3498db;
    color: white;
    padding: 8px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}
.project {
    margin: 15px 0;
}
a {
    text-decoration: none;
    color: white;
    background-color: #27ae60;
    padding: 10px 15px;
    border-radius: 5px;
}
footer {
    background-color: #1b7bdb;
    color: white;
    padding: 10px;
}