body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 20px;
}
.nav ul{
    list-style: none;       
    margin: 0;
    padding: 0;
    display: flex;            
    justify-content: center; 
}
.navbar ul li {
  margin: 0 20px;
}
.navbar ul li a {
  color: white;
}
.navbar ul li a:hover {
  color: #f39c12;          
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #555;
    color: white;
    padding: 40px 40px;
}
.hero-text{
    width: 50%;
}
.hero button{
    padding: 10px 20px;
    background-color: #2979ff;
    color: white;
    border: none;
    cursor: pointer;
}
.hero-image img{
    width: 100px;
    height: auto;
}
.about{
    padding: 50px 40px;
}
.about button{
    background-color: #2979ff;
    color: white;
    border: none;
    padding: 10px 20px;
}